@charset "UTF-8";
/*Import*/
footer {
  background-color: black;
  text-align: center;
  padding: 20px;
}
footer li {
  display: inline-block;
}

.dropdown-submenu {
  position: relative;
}
.dropdown-submenu:hover .dropdown-menu, .dropdown-submenu:focus .dropdown-menu {
  display: flex;
  flex-direction: column;
  position: absolute !important;
  margin-top: -30px;
  left: 100%;
}

@media (max-width: 992px) {
  .dropdown-menu {
    width: 50%;
  }
}
.dropdown-menu .dropdown-submenu {
  width: auto;
}

/*Variables*/
/*Mixins*/
.button-marketing {
  width: 16rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ff1000;
  color: #fff;
  border-radius: 25rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

.button-cursos {
  width: 14rem;
  padding-left: 1rem;
  padding-right: 1rem;
  background-color: #ff1000;
  color: #fff;
  border-radius: 25rem;
  font-weight: 600;
  cursor: pointer;
  text-decoration: none;
}

/*Clases*/
.mi-clase {
  color: whitesmoke;
  font-weight: bold;
}

.mi-clase4 {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: 50% 50%;
}

.mi-clase7 {
  width: 100%;
  height: 90px;
  object-fit: contain;
  object-position: 45% 50%;
}

.encabezado {
  transform: translateX(2px);
}

h4 {
  padding: 10px;
  border: 1px solid #524f4f;
  margin: 10px;
}

h5 {
  padding: 10px;
  border: 1px solid #524f4f;
  margin: 10px;
}

.container-bottom {
  position: fixed;
  z-index: 100;
  bottom: 2%;
  right: 5%;
}

.whatsapp {
  position: fixed;
  color: #25ee25;
  z-index: 100;
  width: 60px;
  bottom: 40px;
  right: 40px;
  font-size: 30px;
}

.video-empresas, .video-index {
  height: 350px;
  margin-top: 30px;
}

.videos {
  display: flex;
  justify-content: center;
  background-color: silver;
  padding-bottom: 10px;
}

.digital {
  display: flex;
  justify-content: flex-end;
  padding: 30px;
  background-color: silver;
}

.digital1 {
  display: flex;
  justify-content: flex-end;
  padding-top: 5px;
  background-color: silver;
  font-weight: bold;
}

/*Seccion colegios*/
.titulo {
  font-weight: bold;
  color: white;
  display: flex;
  justify-content: center;
  background-color: #78808e;
}

.texto {
  width: 40%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-content: space-around;
  flex-direction: column;
}

.sub {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  justify-content: center;
  padding: 40px;
}

.ministerio {
  display: flex;
  justify-content: center;
  color: #ff1000;
  border: none;
}

.instituciones {
  width: 20%;
  height: 20%;
  margin-top: 25px;
  padding-left: 80px;
}

.inst {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.title-school {
  width: 98%;
  display: flex;
  justify-content: center;
  color: #ff1000;
  border: none;
}

.programas {
  background-color: silver;
}

/*Sección cursos y programas*/
.section-cursos {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background-color: silver;
  padding: 70px;
}

.encabezado {
  display: flex;
  justify-content: center;
  color: #ff1000;
  border: none;
  font-weight: bold;
  width: 99%;
}

/*Marketing y el resto de cursos*/
.section-marketing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #78808e;
  padding: 3%;
}

.marketing {
  color: #fff;
  font-weight: bold;
  line-height: 0.25;
  font-size: 190%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  display: flex;
  justify-content: left;
  margin-left: 9%;
  background-color: #78808e;
}

.mar {
  color: #fff;
  font-weight: bold;
  line-height: 0.25em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  display: flex;
  justify-content: left;
  margin-left: 9%;
  background-color: #78808e;
}

.button {
  display: flex;
  justify-content: center;
  justify-content: middle;
  padding: 20px;
}

.projects-marketing {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
  background-color: silver;
}

.projects-marketing2 {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin: 1%;
}

.platform-container {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
  background-color: gray;
}

.platform-container2 {
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  margin: 1%;
  width: 100%;
}

.projects {
  background-color: silver;
}

.projects2 {
  background-color: gray;
}

.projects-title {
  display: block;
  color: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  text-shadow: 4px -5px 8px #000;
  align-items: center;
}

/*Analitycs*/
.button-marketing:hover {
  transform: scale(1.5);
  transition: all 3s ease-out;
}

/*Sección equipo*/
.section-container {
  color: whitesmoke;
  background-color: #78808e;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

/*Sección empresas*/
.cards-business {
  margin: 11;
  padding: 10px 0 10px 12px;
  font-size: 16px;
  background-color: #78808e;
}

.square0, .square1, .square2, .square3, .square4 {
  margin-left: 23%;
  width: 50%;
  padding: 10px 0 10px 12px;
  font-size: 16px;
  border: solid 1px #ff1000;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  display: inline-block;
}

.banner-business {
  display: block;
  background-color: #78808e;
  color: #fff;
  height: 100px;
  display: flex;
  justify-content: center;
  text-shadow: 4px -5px 8px #000;
  align-items: center;
}

.clientes {
  width: 15%;
  height: 15%;
  margin-top: 25px;
  padding-left: 2%;
  padding-right: 2%;
}

.client {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title-client {
  width: 99%;
  display: flex;
  justify-content: center;
  color: #ff1000;
  border: none;
}

.talent-content {
  display: flex;
  justify-content: center;
  background-color: silver;
  padding: 25px;
}

.benefit-content {
  text-align: center;
  background-color: silver;
}

.talent-content2 {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  padding: 20px;
  background-color: silver;
}

.benefit-content2 {
  background-color: slategrey;
  padding: 20px;
  border-radius: 20px;
}

.benefit-content3 {
  display: flex;
  justify-content: space-evenly;
  background-color: silver;
  padding: 20px;
  align-items: center;
}

.consulta-empresas {
  max-width: 265px;
  background-color: #fff;
  display: block;
  margin: 0 auto;
  padding: 5px;
  border: solid 1px #281e49;
  border-radius: 5px;
  font-weight: 700;
  margin-top: 50px;
}

.consulta-empresas {
  cursor: pointer;
}

.button1 {
  display: flex;
  justify-content: center;
  justify-content: middle;
  margin-top: 50px;
}

.talent-work {
  padding: 30px;
}

/*Formulario*/
.form-row {
  margin-bottom: 40px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  flex-direction: column;
  margin-left: -15%;
}

.form-row input[type=text], [type=email] {
  background-color: #fff;
  border: 1px solid red;
  border-radius: 4px;
  padding: 8px;
  font-size: 14px;
  margin-left: 0%;
  margin-right: -20%;
}

.form-row label {
  margin-bottom: 16px;
}

.formulario {
  display: flex;
  justify-content: space-between;
  height: 450px;
}

.weare {
  border: none;
  font-size: 35px;
}

.formulario-title {
  background-color: grey;
  padding: 100px;
  margin-left: 0%;
  width: 50%;
}

.formulario-title2 {
  background-color: silver;
  margin-right: 0%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Sección header del Home*/
#Home {
  position: fixed;
  z-index: 100;
  margin: 0;
  padding: 0;
  height: 75px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.navbar {
  z-index: 100;
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#Home ul li {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  margin-right: 10px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  position: relative;
  font-size: 14px;
}

ul ul {
  position: absolute;
  display: none;
}

ul ul li {
  display: block;
}

/*Fin sección header del Home*/
/*Mobile*/
@media only screen and (max-width: 400px) {
  .button {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .talent-content2, .projects-marketing, .platform-container {
    display: block;
  }

  .button-cursos {
    margin-top: 20px;
  }

  .section-cursos {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  .sub {
    display: flex;
    flex-direction: column;
    width: 400px;
    text-align: center;
    padding: 0px;
  }

  .texto {
    border: none;
    width: 400px;
  }

  .section-container {
    display: flex;
    justify-content: center;
    width: 400px;
  }

  #colegios, #empresas {
    display: none;
  }

  .videos, .digital, .digital1, .benefit-figure {
    display: none;
  }

  .formulario {
    display: block;
    height: 100%;
  }

  .formulario-title {
    display: none;
  }

  .formulario-title2 {
    width: 100%;
  }

  .form-row {
    margin-left: 0%;
    width: 80%;
  }

  #equipo {
    height: 100%;
    width: 0%;
  }

  .benefit-content2 {
    margin-top: 5px;
  }

  .button1 {
    margin-bottom: 5px;
  }

  .mar, .marketing {
    line-height: 100%;
  }

  .platform-container {
    padding-top: 0px;
  }

  .platform-figure {
    width: 100%;
  }

  .whatsapp {
    width: 35%;
    bottom: 1%;
    right: 7%;
    font-size: 25px;
  }

  .section-container2 {
    display: block;
  }

  #equipo {
    display: none;
  }
}
/*Tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {
  .button {
    display: block;
    text-align: center;
  }

  .talent-content2, .projects-marketing {
    display: block;
    padding-left: 10%;
    padding-right: 10%;
  }

  .benefit-content2 {
    margin-bottom: 15px;
  }

  .benefit-figure {
    width: 90%;
  }

  .clientes {
    width: 20%;
  }

  .instituciones {
    padding-right: 2%;
    padding-left: 2%;
  }

  .mar, .marketing {
    line-height: 100%;
  }
}
/*Desktop*/
@media only screen and (min-width: 961px) {
  body {
    background-color: #FFF;
  }
}
/*Equipo*/
#equipo {
  width: 750px;
  height: 300px;
  display: flex;
  text-align: center;
  justify-content: space-between;
}

.equipo-2:hover {
  transform: scale(1.5);
  transition: all 3s ease-out;
}

.section-container2 {
  color: whitesmoke;
  background-color: #78808e;
  align-items: center;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 25px;
}

.equipo-sabrina, .equipo-nicolas, .equipo-florencia {
  padding: 27px;
}

.team {
  font-size: 19px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*Timeline*/
.r-title {
  margin-top: var(--rTitleMarginTop, 0) !important;
  margin-bottom: var(--rTitleMarginBottom, 0) !important;
}

p:not([class]) {
  line-height: var(--cssTypographyLineHeight, 1.78);
  margin-top: var(--cssTypographyBasicMargin, 1em);
  margin-bottom: 0;
}

p:not([class]):first-child {
  margin-top: 0;
}

.text {
  display: var(--textDisplay, inline-flex);
  font-size: var(--textFontSize, 1rem);
}

.time {
  display: var(--timeDisplay, inline-flex);
}

.time__month {
  margin-left: var(--timelineMounthMarginLeft, 0.25em);
}

.time {
  padding: var(--timePadding, 0.25rem 1.25rem 0.25rem);
  background-color: var(--timeBackgroundColor, #f0f0f0);
  font-size: var(--timeFontSize, 0.75rem);
  font-weight: var(--timeFontWeight, 700);
  text-transform: var(--timeTextTransform, uppercase);
  color: var(--timeColor, currentColor);
}

.card {
  padding: var(--timelineCardPadding, 1.5rem 1.5rem 1.25rem);
}

.card__content {
  margin-top: var(--cardContentMarginTop, 0.5rem);
}

.card {
  border-radius: var(--timelineCardBorderRadius, 2px);
  border-left: var(--timelineCardBorderLeftWidth, 3px) solid var(--timelineCardBorderLeftColor, var(--uiTimelineMainColor));
  box-shadow: var(--timelineCardBoxShadow, 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24));
  background-color: var(--timelineCardBackgroundColor, #fff);
}

.card__title {
  --rTitleMarginTop: var(--cardTitleMarginTop, 1rem);
  font-size: var(--cardTitleFontSize, 1.25rem);
}

.timeline {
  display: var(--timelineDisplay, grid);
  grid-row-gap: var(--timelineGroupsGap, 2rem);
}

.timeline__year {
  margin-bottom: 1.25rem;
  /* 1 */
}

.timeline__cards {
  display: var(--timeloneCardsDisplay, grid);
  grid-row-gap: var(--timeloneCardsGap, 1.5rem);
}

.timeline {
  --uiTimelineMainColor: var(--timelineMainColor, #222);
  --uiTimelineSecondaryColor: var(--timelineSecondaryColor, #fff);
  border-left: var(--timelineLineWidth, 3px) solid var(--timelineLineBackgroundColor, var(--uiTimelineMainColor));
  padding-top: 1rem;
  padding-bottom: 1.5rem;
}

.timeline__year {
  --timePadding: var(--timelineYearPadding, .5rem 1.5rem);
  --timeColor: var(--uiTimelineSecondaryColor);
  --timeBackgroundColor: var(--uiTimelineMainColor);
  --timeFontWeight: var(--timelineYearFontWeight, 400);
}

.timeline__card {
  position: relative;
  margin-left: var(--timelineCardLineGap, 1rem);
}

.timeline__cards {
  overflow: hidden;
  padding-top: 0.25rem;
  /* 1 */
  padding-bottom: 0.25rem;
  /* 1 */
}

.timeline__card::before {
  content: "";
  width: 100%;
  height: var(--timelineCardLineWidth, 2px);
  background-color: var(--timelineCardLineBackgroundColor, var(--uiTimelineMainColor));
  position: absolute;
  top: var(--timelineCardLineTop, 1rem);
  left: -50%;
  z-index: -1;
}

.timeline {
  --timelineMainColor: #ff1000;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
  color: #222;
  background-color: #f0f0f0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  line-height: 1.5;
}

p:last-child {
  margin-bottom: 0;
}

.page {
  max-width: 47rem;
  padding: 5rem 2rem 3rem;
  margin-left: auto;
  margin-right: auto;
}

.encabezado-timeline {
  display: flex;
  justify-content: center;
  color: #ff1000;
  border: none;
  font-weight: bold;
  margin-top: 3%;
}

.section-container {
  background-color: #78808e;
}

/*Margenes y Relleno*/
* {
  margin: 0;
  padding: 0;
}

/*Tamaño base*/
html {
  font-size: 18px;
  position: relative;
  min-height: 100%;
}

/*Fuente de Fonts Google*/
body {
  font-family: "Encode Sans Expanded", sans-serif;
  font-weight: 400;
  letter-spacing: 0em;
}

/*Cascada*/
header nav ul li a {
  color: black;
  text-decoration: none;
  font-size: 18px;
}

/*Carousel*/
.carousel-title {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

.carousel-title2 {
  top: 50%;
  transform: translateY(-50%);
  bottom: initial;
}

/*# sourceMappingURL=style.css.map */
