/*Seccion colegios*/
.titulo{
    font-weight: bold;
    color:white;
    display: flex;
    justify-content: center;
    background-color: #78808e;
}

.texto{
    width: 40%; 
    display: flex;
    justify-content:flex-start;
    align-items:center;
    align-content: space-around;
    flex-direction: column;
}
.sub{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    justify-content: center;
    padding: 40px;
}
.ministerio{
    display: flex;
    justify-content: center;
    color: #ff1000;
    border: none;
    
}
.instituciones{
    width: 20%;
    height: 20%;
    margin-top: 25px;
    padding-left: 80px;
}
.inst{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.title-school{
    width: 98%;
    display: flex;
    justify-content: center;
    color: #ff1000;
    border: none;
}
.programas{
    background-color: silver;
}
