/*Sección equipo*/
.section-container{
    color: whitesmoke;
    background-color: #78808e;
    display: flex;
    align-items: center;  
    justify-content: space-between;
    flex-direction:column; 
}    
/*Sección empresas*/
.cards-business{
    margin: 11;
    padding: 10px 0 10px 12px;
    font-size: 16px;
    background-color: #78808e;
}
.square0 , .square1, .square2, .square3, .square4{
    margin-left: 23%;
    width: 50%;
    padding: 10px 0 10px 12px;
    font-size: 16px; 
    border:solid 1px #ff1000;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    display: inline-block;
}
.banner-business{
    display: block;
    background-color: #78808e;
    color:#fff;
    height: 100px;
    display: flex;
    justify-content: center;
    text-shadow: 4px -5px 8px #000;
    align-items: center;  
}
.clientes{
    width: 15%;
    height: 15%;
    margin-top: 25px;
    padding-left: 2%;
    padding-right: 2%;
}
.client{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.title-client{
    width: 99%;
    display: flex;
    justify-content: center;
    color: #ff1000;
    border: none;
}
.talent-content{
    display: flex;
    justify-content: center;
    background-color: silver;
    padding: 25px;
}
.benefit-content{
    text-align: center;
    background-color: silver;
}
.talent-content2{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    padding: 20px;
    background-color: silver;
}
.benefit-content2{
    background-color:slategrey;
    padding: 20px;
    border-radius: 20px;
}
.benefit-content3{
    display: flex;
    justify-content: space-evenly;
    background-color:silver;
    padding: 20px;
    align-items: center;
}
.consulta-empresas{
    max-width: 265px;
    background-color: #fff;
    display: block;
    margin: 0 auto;
    padding: 5px;
    border: solid 1px #281e49;
    border-radius: 5px;
    font-weight: 700;
    margin-top: 50px;
}
.consulta-empresas{
    cursor:pointer
}
.button1{
    display: flex;
    justify-content: center;
    justify-content: middle;
    margin-top: 50px;
}
.talent-work{
    padding: 30px;
}
