
footer{
    background-color: #78808e;
    text-align:center;
    

    li{
        display: inline-block;
    }
}
.maps{
    display: flex;
    justify-content: space-between;
    margin-left: 6%;
    margin-right: 6%;
}
